*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{

    background-color: rgb(73, 176, 236);

}

.menu{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 80px;

}

.logo img{

    width: 100px;

}

.menu-itens a img{

    width: 26px;

}

.menu-itens a{

    margin-left: 30px;

}

.content{

    height: calc(100vh - 80px);
    width: 100%;
    padding: 0 5%;
    display: flex;

}

.left-side{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.left-side h1{
    font-size: 50px;
    color: rgb(38, 184, 38);
}

.left-side p{
    color: white;
    margin-bottom: 50px;
}

.left-side span{
    font-size: 30px;
    font-weight: 900px;
    color: white;
}

.left-side a{
    text-decoration: none;
    color: white;
    background-color:  rgb(38, 184, 38);
    width: fit-content;
    padding: 15px 20px;
    border-radius: 7px;
}

.right-side{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.right-side img{
    background-color: white;
    height: 30rem;
    width: 30rem;
    
}
