*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{

    background-color: #8b2020;

}

.menu4{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    height: 80px;

}

.logo4 img{

    width: 100px;

}

.menu-itens4 a img{

    width: 26px;

}

.menu-itens4 a{

    margin-left: 30px;

}

.content4{

    height: calc(100vh - 80px);
    width: 100%;
    padding: 0 5%;
    display: flex;

}

.left-side4{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

}

.left-side4 h1{
    font-size: 50px;
    color: #f83a3a;
}

.left-side4 p{
    color: white;
    margin-bottom: 50px;
}

.left-side4 span{
    font-size: 30px;
    font-weight: 900px;
    color: white;
}

.left-side4 a{
    text-decoration: none;
    color: white;
    background-color:  #f83a3a;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 7px;
}

.right-side4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.right-side4 img{
    background-color: white;
    height: 30rem;
    width: 30rem;
    
}
